
:root {
    --math-background: #d4d4d4;
}

.math {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--math-background);
    justify-content: center;
    align-content: center;
}

.math span {
    margin: auto;
    font-size: xx-large;
}