
:root {
    --math-background: #d4d4d4;
}

#container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graph {

}

#footer {

}

.math {
    width: 100%;
    height: 100%;

    display: block;

    border-radius: 16px;
    background-color: var(--math-background);
    font-size: xx-large;
}

.math div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}